[submodule "zmk-config"]
	path = corax56/zmk-config
	url = git@github.com:dnlbauer/corax56-zmk-config.git
	branch = main
[submodule "corax54/zmk-config"]
	path = corax54/zmk-config
	url = git@github.com:dnlbauer/corax-54-zmk-config.git
