output

# ninja tmp files
.ninja*

# kicad tmp files
*/pcbs/source
*/pcbs/points
*/pcbs/outlines/_*
*/pcbs/outlines/*.yaml
*/pcbs/outlines/*.svg
*/pcbs/pcbs/fp-info-cache
*/pcbs/pcbs/*-backups
*/pcb/pcbs/*.kicad_prl
*.lck

# zmk firmware binaries
*.uf2

*.zip

node_modules
