# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_OWNKB_LEFT

config ZMK_KEYBOARD_NAME
    default "ownkb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_OWNKB_LEFT || SHIELD_OWNKB_RIGHT

config ZMK_SPLIT
    default y

endif
